<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wenjuing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="萌玩"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/bg_ripple" />

        <activity android:name=".MeActivity" />
        <activity android:name=".webPage.DianYingActivity" />
        <activity android:name=".webPage.ZhihuActivity" />
        <activity android:name=".webPage.BiliActivity" />
        <activity android:name=".webPage.BaiDuActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".recycleview.PuRecycleViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>